#headerDiv {
  background-image: url(https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?w=2000);
  border-radius: 20px;
  text-align: center;
  margin-bottom: 100px;
}
#linkDiv {
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: space-between;
}
.link {
  background-color: silver;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.5em;
}
.active {
  background-color: red;
}

h1 {
  font-size: 4em;
  color: green;
}

.imageText {
  font-family: "Rubik Bubbles", cursive;
  font-size: 1em;
}
.images:hover {
  opacity: 0.5;
}
.cuisine {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: none;
  border: 2px solid black;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
#mealButton {
  width: 200px;
  height: 80px;
  border-radius: 20px;
  margin-top: 100px;
  font-size: 1.5em;
  background-color: black;
  color: white;
}
.cuisineExclude {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: none;
  border: 2px solid black;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.include {
  background-color: green;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.exclude {
  background-color: red;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

h2 {
  font-size: 2em;
}
#cuisineDiv {
  position: relative;
  text-align: center;
}
button {
  color: black;
}
.box {
  width: 100px;
}

body {
  margin: 5% auto 0 auto;
  width: 90%;
  max-width: 1125px;
}

input,
span,
label,
textarea {
  font-family: "Ubuntu", sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question,
textarea.question {
  font-size: 48px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8f8f8f;
  font-size: 48px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #eee;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"],
textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"],
textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
#container {
  position: absolute;
  margin-top: 140px;
  margin-left: 0px;
  padding-left: 0px;

  border: 5px solid rgb(206, 206, 206);
  border-radius: 30px;
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}
#container2 {
  position: absolute;
  margin-top: 450px;
  margin-left: 0px;
  padding-left: 0px;

  border: 5px solid rgb(206, 206, 206);
  border-radius: 30px;
  height: 280px;
  overflow-x: scroll;

  width: 100%;
  float:left;

}

#iDiv {
  margin-top: 20px;
  float:left;
  font-size: 30px;
  width: 50%;



}
#rDiv{
margin-top: 20px;
font-size: 30px;
  float:left;

  width: 50%;

}

.slider {
  display: inline-block;
}

body{
  padding-bottom: 800px;
}